@import url('https://fonts.googleapis.com/css2?family=Roboto&Ubuntu:wght@300;400;500;700&display=swap');

:root{
  --text-color: #555555;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  color: var(--text-color);
}
a{
  text-decoration: none;
}
form {
  max-width: 730px;
  margin: 80px auto;
  border-radius: 8px;
  padding: 64px;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  flex: 1  ;
}
form h1{
  font-size: 36px;
}
.filedGroup{
  display: flex;
  flex-direction: column;
  flex: 1;
}

form fieldset{
  margin-top: 64px;
  border: none;
  margin: 64px auto;
}
form legend{
  margin-bottom: 32px;
  font-size: 22px;
  color: #555555;
}
form .field{
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}
form input {
  border: 0;
  color: black;
  font-size: 16px;
  padding: 16px 24px;
  border-radius: 8px;
  width: 400px;
  max-width: 600px;
}
form label{
  font-size: 16px;
  margin-bottom: 12px;
}

div li {
  display: flex;
  align-items: center;
}

div li + li {
  margin-top: 15px;
}

button {
  background: #7159c1;
  color: #fff;
  border: none;
  margin-top: 24px;
  padding: 16px 24px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  max-width: 600px;
}

div li button {
  margin: 0 15px;
  background: #ca4949;
}
